<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="net.sourceforge.veditor"
   name="verilog plugin"
   version="0.1.3"
   provider-name="tadashi"
   class="net.sourceforge.veditor.VerilogPlugin">

   <runtime>
      <library name="veditor.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.ide"/>
   </requires>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Verilog Editor"
            icon="icons/vlog_src.gif"
            extensions="v"
            contributorClass="net.sourceforge.veditor.editor.VerilogActionContributor"
            class="net.sourceforge.veditor.editor.VerilogEditor"
            id="net.sourceforge.veditor.editor.VerilogEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Eclipse Verilog Editor"
            id="veditor">
      </category>
      <view
            name="Module Tree View"
            category="veditor"
            class="net.sourceforge.veditor.editor.ModuleTreeView"
            id="net.sourceforge.veditor.editor.ModuleTreeView">
      </view>
   </extension>

</plugin>
