<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Verilog Editor"
            icon="icons/vsrc.gif"
            contributorClass="net.sourceforge.veditor.editor.HdlActionContributor"
            class="net.sourceforge.veditor.editor.VerilogEditor"
            id="net.sourceforge.veditor.editor.VerilogEditor">
             <contentTypeBinding contentTypeId="net.sourceforge.veditor.verilogSource"/>
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="VHDL Editor"
            icon="icons/vsrc.gif"
            contributorClass="net.sourceforge.veditor.editor.HdlActionContributor"
            class="net.sourceforge.veditor.editor.VhdlEditor"
            id="net.sourceforge.veditor.editor.VhdlEditor">
            <contentTypeBinding contentTypeId="net.sourceforge.veditor.vhdlSource"/>
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Verilog/VHDL Log Viewer"
            icon="icons/vsrc.gif"
            class="net.sourceforge.veditor.log.LogEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            id="net.sourceforge.veditor.log.LogEditor">
             <contentTypeBinding contentTypeId="net.sourceforge.veditor.simulationLog"/>
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Verilog/VHDL"
            icon="icons/pers.gif"
            class="net.sourceforge.veditor.VerilogPerspective"
            id="net.sourceforge.veditor.editor.perspective"
            fixed="true"/>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Verilog/VHDL Editor"
            id="veditor">
      </category>
      <view
            name="Hierarchy"
            icon="icons/hierarchy.gif"
            category="veditor"
            class="net.sourceforge.veditor.editor.ModuleHierarchyView"
            id="net.sourceforge.veditor.editor.ModuleHierarchyView">
      </view>
   </extension>

   <extension
         point = "org.eclipse.ui.preferencePages">
      <page
            id="net.sourceforge.veditor.preference.TopPreferencePage"
            class="net.sourceforge.veditor.preference.TopPreferencePage"
            name="Verilog/VHDL Editor">
      </page>
      <page
            category="net.sourceforge.veditor.preference.TopPreferencePage"
            id="net.sourceforge.veditor.preference.ColorPreferencePage"
            class="net.sourceforge.veditor.preference.ColorPreferencePage"
            name="Color">
      </page>
      <page
            category="net.sourceforge.veditor.preference.TopPreferencePage"
            id="net.sourceforge.veditor.preference.TemplatePreferencePage"
            class="net.sourceforge.veditor.preference.TemplatePreferencePage"
            name="Templates">
      </page>
      <page
            category="net.sourceforge.veditor.preference.TopPreferencePage"
            id="net.sourceforge.veditor.preference.ErrorParserPreferencePage"
            class="net.sourceforge.veditor.preference.ErrorParserPreferencePage"
            name="Error Parser">
      </page>
      <page
            category="net.sourceforge.veditor.preference.TopPreferencePage"
            id="net.sourceforge.veditor.preference.CodeStylePreferencePage"
            class="net.sourceforge.veditor.preference.CodeStylePreferencePage"
            name="Code Style">
      </page>
      <page
            category="net.sourceforge.veditor.preference.CodeStylePreferencePage"
            id="net.sourceforge.veditor.preference.CodeStyleSpacePreferencePage"
            class="net.sourceforge.veditor.preference.CodeStyleSpacePreferencePage"
            name="Insert Space">
      </page>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="net.sourceforge.veditor.VerilogPreferenceInitializer"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Verilog/VHDL"
            id="net.sourceforge.veditor.wizard">
      </category>
      <wizard
            name="Verilog file"
            icon="icons/vsrc.gif"
            category="net.sourceforge.veditor.wizard"
            class="net.sourceforge.veditor.wizard.NewVerilogWizard"
            id="net.sourceforge.veditor.wizard.NewVerilogWizard">
      </wizard>
      <wizard
            name="VHDL file"
            icon="icons/vsrc.gif"
            category="net.sourceforge.veditor.wizard"
            class="net.sourceforge.veditor.wizard.NewVhdlWizard"
            id="net.sourceforge.veditor.wizard.NewVhdlWizard">
      </wizard>
      <wizard
            name="Verilog/VHDL project"
            icon="icons/vsrc.gif"
            category="net.sourceforge.veditor.wizard"
            class="net.sourceforge.veditor.wizard.NewProjectWizard"
            project="true"
            finalPerspective="net.sourceforge.veditor.editor.perspective"
            id="net.sourceforge.veditor.wizard.NewProjectWizard">
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.contexts">
       <context
            name="Editing Verilog/VHDL"
            parentId="org.eclipse.ui.textEditorScope"
            description="Editing Verilog/VHDL"
            id="net.sourceforge.veditor.scope">
       </context>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Verilog/VHDL Editing"
            description="Verilog/VHDL editing commands"
            id="net.sourceforge.veditor.commands">
      </category>
      <command
            name="Format"
            description="Format region"
            categoryId="net.sourceforge.veditor.commands"
            id="net.sourceforge.veditor.actions.Format">
      </command>
      <command
            name="Compile"
            description="Compile"
            categoryId="net.sourceforge.veditor.commands"
            id="net.sourceforge.veditor.actions.Compile">
      </command>
      <command
            name="Matching Bracket"
            description="Goto Matching Bracket"
            categoryId="net.sourceforge.veditor.commands"
            id="net.sourceforge.veditor.actions.GotoMatchingBracket">
      </command>
      <command
            name="Open Declaration"
            description="Goto Open Declaration"
            categoryId="net.sourceforge.veditor.commands"
            id="net.sourceforge.veditor.actions.OpenDeclaration">
      </command>
      <command
            name="Comment"
            description="Comments a block of code"
            categoryId="net.sourceforge.veditor.commands"
            id="net.sourceforge.veditor.actions.Comment">
      </command>
       <command
            name="Uncomment"
            description="Remove block comments from code"
            categoryId="net.sourceforge.veditor.commands"
            id="net.sourceforge.veditor.actions.Uncomment">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            sequence="M1+M2+F"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="net.sourceforge.veditor.scope"
            commandId="net.sourceforge.veditor.actions.Format">
      </key>
      <key
            sequence="M1+0"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="net.sourceforge.veditor.scope"
            commandId="net.sourceforge.veditor.actions.Compile">
      </key>
      <key
            sequence="Esc ]"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="net.sourceforge.veditor.scope"
            commandId="net.sourceforge.veditor.actions.GotoMatchingBracket">
      </key>
      <key
            sequence="F3"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="net.sourceforge.veditor.scope"
            commandId="net.sourceforge.veditor.actions.OpenDeclaration">
      </key>
      <key
            sequence="M1+M2+/"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="net.sourceforge.veditor.scope"
            commandId="net.sourceforge.veditor.actions.Comment">
      </key>
      <key
            sequence="M1+M2+\"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="net.sourceforge.veditor.scope"
            commandId="net.sourceforge.veditor.actions.Uncomment">
      </key>
   </extension>

   <extension
         id="simulateBuilder"
         name="Verilog/VHDL Simulator"
         point="org.eclipse.core.resources.builders">
      <builder 
            hasNature="true">
         <run
               class="net.sourceforge.veditor.builder.SimulateBuilder">
         </run>
      </builder>
   </extension>

   <extension
         id="hdlNature"
         name="Verilog/VHDL Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.sourceforge.veditor.builder.HdlNature">
         </run>
      </runtime>
      <builder
            id="net.sourceforge.veditor.simulateBuilder">
      </builder>
   </extension>

   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ovr.gif"
            natureId="net.sourceforge.veditor.hdlNature"
            id="net.sourceforge.veditor.natureImage">
      </image>
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            name="Verilog/VHDL Simulator"
            class="net.sourceforge.veditor.builder.SimulatorPropertyPage"
            id="net.sourceforge.veditor.simulatorProperty">
            <filter
                name="nature"
                value="net.sourceforge.veditor.hdlNature">
            </filter>            
      </page>
   </extension>
   
   <extension point="org.eclipse.ui.editorActions"> 
      <editorContribution 
         id="org.eclipse.ui.articles.action.contribution.editor" 
         targetID="net.sourceforge.veditor.editor.VhdlEditor">
         <action
            id="net.sourceforge.veditor.compile" 
            label="Compile" 
            icon="icons/compile.gif"
            tooltip="Compile File"
            toolbarPath="normal/buildProject"
            class="net.sourceforge.veditor.actions.HdlEditorActionDelegate"> 
         </action> 
         <action
            id="net.sourceforge.veditor.simulate" 
            label="Simulate" 
            icon="icons/simulate.gif"
            tooltip="Simulate Project"
            toolbarPath="normal/buildProject"
            class="net.sourceforge.veditor.actions.HdlEditorActionDelegate"> 
         </action>
         <action
            id="net.sourceforge.veditor.build" 
            label="Build" 
            icon="icons/build.gif"
            tooltip="Build Project"
            toolbarPath="normal/buildProject"
            class="net.sourceforge.veditor.actions.HdlEditorActionDelegate"> 
         </action>               
      </editorContribution> 
      
      <editorContribution 
         id="org.eclipse.ui.articles.action.contribution.editor" 
         targetID="net.sourceforge.veditor.editor.VerilogEditor">
        <action
            id="net.sourceforge.veditor.compile" 
            label="Compile" 
            icon="icons/compile.gif"
            tooltip="Compile File"
            toolbarPath="normal/buildProject"
            class="net.sourceforge.veditor.actions.HdlEditorActionDelegate"> 
         </action> 
         <action
            id="net.sourceforge.veditor.simulate" 
            label="Simulate" 
            icon="icons/simulate.gif"
            tooltip="Simulate Project"
            toolbarPath="normal/buildProject"
            class="net.sourceforge.veditor.actions.HdlEditorActionDelegate"> 
         </action>
         <action
            id="net.sourceforge.veditor.build" 
            label="Build" 
            icon="icons/build.gif"
            tooltip="Build Project"
            toolbarPath="normal/buildProject"
            class="net.sourceforge.veditor.actions.HdlEditorActionDelegate"> 
         </action> 
      </editorContribution>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.editors.templates">
        <contextType
            name="VHDL In Modules"
            class="net.sourceforge.veditor.template.VhdlInModuleContextType"
            id="net.sourceforge.veditor.vhdlInModule">
	  </contextType>
	  <contextType
            name="VHDL Out of Modules"
            class="net.sourceforge.veditor.template.VhdlOutModuleContextType"
            id="net.sourceforge.veditor.vhdlOutModule">
	  </contextType>
	  <contextType
            name="Verilog In Statement"
            class="net.sourceforge.veditor.template.VerilogInStatementContextType"
            id="net.sourceforge.veditor.verilogInStatement">
	  </contextType>
	  <contextType
            name="Verilog In Module"
            class="net.sourceforge.veditor.template.VerilogInModuleContextType"
            id="net.sourceforge.veditor.verilogInModule">
	  </contextType>
	  <contextType
            name="Verilog Out of Module"
            class="net.sourceforge.veditor.template.VerilogOutModuleContextType"
            id="net.sourceforge.veditor.verilogOutModule">
	  </contextType>
      <include
      		file="templates/vhdl.xml">      		
      </include>
      <include
      		file="templates/verilog.xml">      		
      </include>
   </extension>

   <extension point="org.eclipse.core.runtime.contentTypes">
	  <content-type id="verilogSource" name="Verilog Source File" 
		  base-type="org.eclipse.core.runtime.text"
		  priority="high"/>
      <content-type id="vhdlSource" name="VHDL Source File" 
		  base-type="org.eclipse.core.runtime.text"
          priority="high"/>
      <content-type id="simulationLog" name="Simulation Log File" 
		  base-type="org.eclipse.core.runtime.text"
          priority="high"/>
    </extension>

    <extension point="org.eclipse.core.runtime.contentTypes"> 
      <file-association 
       content-type="net.sourceforge.veditor.verilogSource"
       file-extensions="v"/>
    </extension>
    <extension point="org.eclipse.core.runtime.contentTypes"> 
      <file-association 
       content-type="net.sourceforge.veditor.vhdlSource"
       file-extensions="vhd"/>
    </extension>
    <extension point="org.eclipse.core.runtime.contentTypes"> 
      <file-association 
       content-type="net.sourceforge.veditor.simulationLog"
       file-extensions="log"/>
    </extension>
</plugin>

